<h1>Password reset</h1>

<p>下のリンクをクリックしてパスワードを再発行してください:</p>

<%= link_to "パスワードを再発行する", edit_password_reset_url(@user.reset_token,
                                                      email: @user.email) %>

<p>このリンクは二時間有効です</p>

<p>
もしあなたがこのメールをリクエストしていないのであれば無視して、パスワードの変更は行わないで下さい。
</p>