<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%=link_to "かねったー",root_path,id:"logo"%>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%=link_to "ほーむ",root_path%></li>
        <li><%=link_to "へるぷ",help_path%></li>
        <li><%=link_to "ろぐいん","#"%></li>
       </ul>
   </nav>
 </div>
</header>